/* CSS Document */
body{
background-image:url(../image/index_02.gif);
margin:0;
padding:0px;
}
P{
margin:0;
padding:0px;
margin-bottom:10px;
}


#main{
width:822px;
height:auto;
background-color:#0053A1;
margin:0 auto;
padding:0px;
}
#top{
background-image:url(../image/top.gif);
background-repeat:repeat-x;
height:129px;
}
#topleft{
width:800px;
height:100px;
margin-top:11px;
margin-left:20px;
*margin-left:10px;
background-image:url(../image/toplogo.gif);
background-repeat:no-repeat;
float:left;
}
#topword{
font-size:12px;
margin-top:16px;
margin-left:92px;
height:65px;
width:250px;
line-height:16px;
}
#personname{
width:400px;
font-size:12px;
color:#FFFFFF;
margin-left:33px;
*margin-left:13px;
float:left;
}
#English{
width:50px;
font-size:14px;
margin-right:33px;
*margin-right:14px;
color:#FFFFFF;
float:right;
}
#English a{
color:#FFFFFF;
text-decoration:none;
}
#English  a:link{
color:#FFFFFF;
}
#English a:visited{
color:#FFFFFF;
}
#English a:hover{
color:#FFFFFF;
text-decoration:underline;
}

#mid{
background-color:#0053A1;
width:822px;
margin-top:2px;
height:10px;
}

#midleft{
background-color:#ffffff;
width:185px;
margin:0px;
float:left;
height:auto;
}

#midimg img{

border-style:solid;
border-color:#0053A1;
border-width:10px 33px;
*border-width:10px 32px;

}
.midlistleft{
width:185px;
height:40px;
background-color:#0053A1;
margin-top:3px;
}
.listlogo{
float:left;
width:12px;
margin-top:14px;
margin-left:42px;

}
.listword{
float:left;
margin-top:12px;
margin-left:10px;
letter-spacing:3px;
font-size:14px;
color:#FFFFFF;
}


.listword a{
color:#FFFFFF;
text-decoration:none;
}
.listword  a:link{
color:#FFFFFF;
}
.listword a:visited{
color:#FFFFFF;
}
.listword a:hover{
color:#FFFFFF;
text-decoration:underline;
}


#midright{
background-color:#FFFFFF;
width:637px;
height:auto;
float:left;
padding:0px;
margin:0px;

}
.infotitle{
background-color:#BFD0EA;
weight:624px;
height:18px;
color:#312749;
font-size:12px;
font-weight:bold;
padding-top:5px;
padding-left:15px;
}
.infocon{
width:580px;
height:auto;
margin:0 auto;
font-size:13px;
padding-top:19px;
line-height:25px;
padding-bottom:19px;
word-wrap:break-word; 
word-break:break-all;
overflow:auto;

}
#infoconb{
width:580px;
height:102px;;
margin:0 auto;
font-size:13px;
padding-top:19px;
line-height:18px;
padding-bottom:19px;
padding-left:55px;
}
#infocone{
width:580px;
height:116px;;
margin:0 auto;
font-size:13px;
padding-top:19px;
line-height:18px;
padding-bottom:19px;
padding-left:55px;
}
.infodiv{
float:left;
width:290px;
font-size:12px;
margin-bottom:10px;
}
.infodiv2{
float:left;
width:490px;
font-size:12px;
margin-bottom:10px;
}


.infodiv2 a{
color:#000000;
text-decoration:none;
}
.infodiv2  a:link{
color:#000000;
}
.infodiv2 a:visited{
color:#000000;
}
.infodiv2 a:hover{
color:#FF0000;
}



.infoword {
font-size:12px;
font-weight:bold;
color:#312749;
margin-right:20px;
}
.infoword2{
font-size:12px;
font-weight:bold;
color:#312749;
margin-right:20px;
letter-spacing:1px;
}

#bottom{
background-image:url(../image/bottom.gif);
background-repeat:repeat-x;
width:637px;
height:30px;

background-color:#0053A1;
}
#foot{
color:#FFFFFF;
margin:0 auto;
font-size:13px;
width:800px;
text-align:center;
}
.textarea_class{
width:575px;

}
#bottonid{
margin:0 auto;
width:130px;
height:20px;
margin-top:50px;
}